<mat-toolbar color="primary">
  <div class="header">
    <span>Ridgeback Transport Services</span>
    <div class="spacer"></div>
    <mat-nav-list class="nav-list">
      <button mat-raised-button>Home</button>
      <button mat-stroked-button>Home</button>
      <button mat-stroked-button>Home</button>
      <button mat-icon-button>
        <mat-icon 
          matBadge="4" 
          matBadgePosition="after" 
          matBadgeColor="accent">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-nav-list>
  </div>    
</mat-toolbar>
  